.header
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    .dropdown.notifications-container
        i.fa.fa-bell.fa-lg.toggle-notifications.header-icon#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head
                | Notifications
                span 50
            .noti-content 
                h5 Content
                ul.list-unstyled
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | You Got Email From XXX
                    li
                        i.fa.fa-money.fa-lg
                        | You Got Money From YYY
                    li
                        i.fa.fa-thumbs-o-up.fa-lg
                        | You Got Like From SSS
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | You Got Email From ZZZ
                    li
                        i.fa.fa-money.fa-lg
                        | You Got Money From VVV
            .noti-foot.text-center: a(herf="#") View All Notifications
    i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
    .dropdown.usermenu-container
        .username#usermenu(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.avatar.rounded-circle(src='imgs/avatar.jpg' , alt='User Avartar')
            span.user Hapiii Mak
            i.fa.fa-angle-down.fa-lg
        .dropdown-menu.dropdown-menu-right(aria-labelledby='usermenu')
            .user-info
                h4 Hapiii Mak
                p Premium Member
            hr
            ul.activities-list.list-unstyled
                li Added Comment on Post SSS
                li Created Post on Category "Science"
                li Created Chart on Charts Page
                li Added Comment on Post YYY
            hr 
            .row.usermenu-links
                .col
                    .link-box
                        i.fa.fa-gear.setting.fa-lg.fa-fw
                        span Settings
                .col
                    .link-box
                        i.fa.fa-user.profile.fa-lg.fa-fw
                        span My Profile
                .col
                    .link-box
                        i.fa.fa-power-off.logout.fa-lg.fa-fw
                        span Logout