.sidebar 
    .logo-area.text-center Hapiii
    ul.links-area.list-unstyled
        li: a(href="homepage.html" class= pageTitle === 'Homepage' ? 'active' : '') Homepage
        li
            a.toggleSubmenu(href="#")
                | Forms
                i.fa.fa-angle-down.submenu
            ul.child-links.list-unstyled
                li: a(href="#") Input
                li: a(href="#") Textarea
                li: a(href="#") Checkbox
                li: a(href="#") Radio
        li
            a.toggleSubmenu(href="#")
                | Misc
                i.fa.fa-angle-down.submenu
            ul.child-links.list-unstyled
                li: a(href="#") Loading
                li: a(href="#") Breadcrumbs
        li: a(href='charts.html' class= pageTitle === 'Charts' ? 'active' : '') Charts
