*{
    box-sizing: border-box;
}
body {
    height: 1000px;
}
.page {
    min-height: 100vh;
    .content-area {
        width: calc(100% - 250px);
        min-height: 100%;
        transition: all .3s ease-in-out;
        will-change: width;
        float: right;
        &.no-sidebar {
            width: 100%;
        }
    }
}