.header {
    background-color: #fff;
    padding: 20px;
    .header-icon {
        cursor: pointer;
        color: #4f4d4d;
        padding: 10px;
        margin-left: 10px;
        &:hover,
        &.active {
            color: #27ae60;
        }
    }
    .toggle-sidebar {
        cursor: pointer;
        &:hover,
        &.active {
            color:#27ae60;
        }
    }
    .notifications-container{
        display: inline-block;
        margin-left: 20px;
        .dropdown-menu {
            min-width: 500px;
            border: none;
            padding: 0;
            top: 5px !important;
            &:before {
                content: '';
                position: absolute;
                top: -20px;
                left: 10px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333;
            }
            .noti-head {
                background-color: #333;
                color: #fff;
                padding: 15px;
                font-weight: bold;
                span {
                    float: right;
                }
            }
            .noti-content {
                padding: 20px;
                h5 {
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                ul {
                    margin: 0;
                    li {
                        padding: 5px;
                        font-weight: bold;
                        color: rgb(28, 9, 46);
                        border-bottom: ipx solid rgba(28, 9, 46, 0.507);
                        margin-bottom: 10px;
                        font-size: 15px;
                        &:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                            border-bottom: none;
                        }
                        i {
                            width: 30px;
                            height: 27px;
                            margin-right: 10px;
                            position: relative;
                            top: -4px;
                            font-size: 17px;
                            color: #fff;
                            line-height: 25px;
                            text-align: center;
                            &.fa-envelope-o {
                                background-color: rgb(9, 85, 2);
                            }
                            &.fa-money {
                                background-color: #ff9800;
                            }
                            &.fa-thumbs-o-up {
                                background-color: rgb(27, 110, 117);
                            }
                        }
                    }
                }
            }
            .noti-foot {
                a {
                    display: block;
                    padding: 12px;
                    border-top: 1px solid #eee;
                }
            }
        }
    }
    .usermenu-container {
        float: right;
        .username {
            cursor: pointer;
            .avatar {
                width: 40px;
                height: 40px;
            }
            .user {
                font-weight: bold;
                color: #777;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        .dropdown-menu {
            min-width: 500px;
            border: none;
            padding: 20px;
            top: 5px !important;
            border: 1px solid #ddd;
            &:before {
                content: '';
                position: absolute;
                top: -20px;
                right: 70px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #ddd;
            }
            .user-info {
                h4 {
                    font-weight: bold;
                    color: #27ae60;
                }
                p {
                    color: #888;
                }
            }
            .activities-list {
                li {
                    padding: 5px;
                    font-size: 15px;
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
            .usermenu-links {
                .link-box {
                    border: 1px solid #f3f3f3;
                    padding: 10px;
                    border-radius: 6px;
                    cursor: pointer;
                    i {
                        margin-right: 5px;
                        &.setting {
                            color: #2980b9;
                        }
                        &.profile {
                            color: #16a085;
                        }
                        &.logout {
                            color: #c0392b;
                        }
                    }
                }
            }
        }
    }
}