.page {
    .sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #292c33;
        color:#fff;
        padding: 15px;
        transition: all .3s ease-in-out;
        &.no-sidebar {
            left: -250px;
        }
        .logo-area {
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 30px;
        }
        .links-area { 
            //all links        
            li {
                a {
                    color: rgb(197, 197, 197);
                    padding: 10px 20px;
                    display: block;
                    transition: all .3s ease-in-out;
                    &:hover {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
            //main links
            > li > a {
                position: relative;
                color: #fff;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                }
                &:hover {
                    padding-left: 25px;
                }
                &.active {
                    &::before {
                        border-color: #ffc107;
                    }
                }
            }
            .submenu {
                float: right;
                position: relative;
                top: 6px;
                transition: all .3s ease-in-out;
            }
            .child-links {
                position: relative;
                display: none;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: #666;
                }
                a {
                    position: relative;
                    &:hover::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 3px;
                        height: 50%;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}